@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

html {
  scroll-behavior: smooth;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Button styles from Uiverse.io */
.Btn-Container {
  display: flex !important;
  width: 130px !important;
  height: fit-content !important;
  background-color: #1d2129 !important;
  border-radius: 30px !important;
  box-shadow: 0px 3px 8px #bebebe !important;
  justify-content: space-between !important;
  align-items: center !important;
  border: none !important;
  cursor: pointer !important;
  padding: 6px !important;
}

.icon-Container {
  width: 35px !important;
  height: 35px !important;
  background-color: #14b8a6 !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  border-radius: 50% !important;
  border: 2px solid #1d2129 !important;
}

.icon-Container svg {
  width: 12px !important;
  height: 14px !important;
}

.text {
  width: calc(130px - 35px) !important;
  height: 100% !important;
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
  color: white !important;
  font-size: 0.85em !important;
  letter-spacing: 0.8px !important;
}

.icon-Container svg {
  transition-duration: 1.5s;
}

.Btn-Container:hover .icon-Container svg {
  transition-duration: 1.5s;
  animation: arrow 1s linear infinite;
}

@keyframes arrow {
  0% {
    opacity: 0;
    margin-left: 0px;
  }
  100% {
    opacity: 1;
    margin-left: 10px;
  }
}
